<div class="lessonBox">
    <div class="lessonLeft">
        <div class="lessonTitle">The Basics of Western Astrology Explained</div>
        <div class="lessonDate">1 January 2019</div>
        <div class="lessonBar">
            <div class="lessonBarBase"></div>
            <div class="lessonBarGreen"></div>
        </div>
        <div class="lessonEnroll">125 Students</div>
        <div>
            <img src="~/images/yellowstar.png" />
            <img src="~/images/yellowstar.png" />
            <img src="~/images/yellowstar.png" />
            <img src="~/images/yellowstar.png" />
            <img src="~/images/emptystar.png" />
        </div>
    </div>
    <div class="lessonRight">
        <img src="~/images/pic1.jpg" srcset="~/images/pic1@2x.jpg 2x,~/images/pic1@3x.jpg 3x" class="Pic" />
    </div>
</div>