<div class="tableView">
    <div class="tableRow">
        <div class="tableTitle tableCell">Completed</div>
        <div class="tableDesc tableCell tableCellFill">
            See All
            <img class="arrowIcon" src="~/images/arrowRight.png" />
        </div>
    </div>
    <div class="tableRow">
        <div class="tableLeft">
            <div class="tableDate">
                <div style="font-size:10pt;">JUL</div>
                <div class="day">28</div>
            </div>
        </div>
        <div class="tableText">
            <div class="companyName">Gumroad, Inc</div>
            <div class="paymentDesc">Payment Received</div>
        </div>
        <div class="tableRight">
            <div class="cost">+250.00</div>
            <div class="currencyUnit">USD</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableLeft">
            <div class="tableDate">
                <div style="font-size:10pt;">JUL</div>
                <div class="day">27</div>
            </div>
        </div>
        <div class="tableText">
            <div class="companyName">Spotify Limited</div>
            <div class="paymentDesc">Preapproved Payment</div>
        </div>
        <div class="tableRight">
            <div class="cost" style="color:#808080;">-8.99</div>
            <div class="currencyUnit">USD</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableLeft">
            <div class="tableDate">
                <div style="font-size:10pt;">JUL</div>
                <div class="day">23</div>
            </div>
        </div>
        <div class="tableText">
            <div class="companyName">Bank of America</div>
            <div class="paymentDesc">Witdhdraw to bank account</div>
        </div>
        <div class="tableRight">
            <div class="cost" style="color:#808080;">-3,560.00</div>
            <div class="currencyUnit">EUR</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableLeft">
            <div class="tableDate">
                <div style="font-size:10pt;">JUL</div>
                <div class="day">22</div>
            </div>
        </div>
        <div class="tableText">
            <div class="companyName">Donald Trump Lawyer (Secret)</div>
            <div class="paymentDesc">Payment Received</div>
        </div>
        <div class="tableRight">
            <div class="cost">+150,000.00</div>
            <div class="currencyUnit">USD</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableLeft">
            <div class="tableDate">
                <div style="font-size:10pt;">JUL</div>
                <div class="day">20</div>
            </div>
        </div>
        <div class="tableText">
            <div class="companyName">Jason Lemon</div>
            <div class="paymentDesc">Payment Received</div>
        </div>
        <div class="tableRight">
            <div class="cost">+1,000.00</div>
            <div class="currencyUnit">EUR</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableLeft">
            <div class="tableDate">
                <div style="font-size:10pt;">JUL</div>
                <div class="day">19</div>
            </div>
        </div>
        <div class="tableText">
            <div class="companyName">Bank of America</div>
            <div class="paymentDesc">Withdraw to bank account</div>
        </div>
        <div class="tableRight">
            <div class="cost" style="color:#808080;">-126,00</div>
            <div class="currencyUnit">USD</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableLeft">
            <div class="tableDate">
                <div style="font-size:10pt;">JUL</div>
                <div class="day">12</div>
            </div>
        </div>
        <div class="tableText">
            <div class="companyName">Cashback(IKEA)</div>
            <div class="paymentDesc">Payment Received</div>
        </div>
        <div class="tableRight">
            <div class="cost">+100.00</div>
            <div class="currencyUnit">USD</div>
        </div>
    </div>
</div>
